## python core summary 따라하기

### Small Project 1
* 변수 이름 10개 만들어보기
    * 나이, 이름, 키, 몸무게, 발사이즈, 안경 유무, 결혼 유무, 성별, 취미, 특기
    * 변수 이름 만들 때, 영문으로 시작하기

In [13]:
age = 26
height = 173
weight = 72
foot = 265
glasses = 1
married = 0
sex = "male"
hobby = "reading"
specialty = "rap"

* 느낀점
    1. 오랜만에 해서 파이썬은 자료형 타입을 선언하지 않아도 되었다는 것을 간과했다.
    2. 콤마로 이어서 변수 선언을 하면 안된다는 것을 몰랐다.

## Small Project2
* 반지름(r=10)을 선언한 뒤, 이를 이용하여 원의 지름, 둘레(2 * pi * r), 넓이(r * r * pi)를 각각 출력하는 파이썬 파일을 만들어보세요.(pi=3.1415)

In [16]:
r = 10
pi = 3.1415
print("원의 지름 : ", r*2)
print("원의 둘레 : ", 2 * pi * r)
print("원의 넓이 : ", r * r * pi)

원의 지름 :  20
원의 둘레 :  62.830000000000005
원의 넓이 :  314.15000000000003

# ======================

In [28]:
name = input("이름을 입력하세요 : ")
print("환영합니다, %s님" %name)

이름을 입력하세요 : 이경준
환영합니다, 이경준님

* print문에서 %로 출력할 때의 방법을 계속 까먹는다. dot이나 comma를 쓰면 안된다!

In [30]:
A = int(input("정수 A의 값을 입력하세요 : "))
B = int(input("정수 B의 값을 입력하세요 : "))
print("A + B = %s" %(A+B))

정수 A의 값을 입력하세요 : 15
정수 B의 값을 입력하세요 : 20
A + B = 35

markdown에서 굵게 하려면 애스터리스크 두개로 앞뒤를 감싸면 된다. **이렇게**
>그리고 맨 첫 줄에 >으로 이것처럼 가능
```
위아래를 ```으로 감싸면 코드처럼 가능
like this
```

In [37]:
some_string = ",,,DaveLee..."
result1 = some_string.strip(",")
result2 = some_string.strip(".")
print("원본 : %s" %some_string)
print("strip(\",\") 결과 : %s\nstrip(\".\") 결과 : %s" %(result1, result2))

원본 : ,,,DaveLee...
strip(",") 결과 : DaveLee...
strip(".") 결과 : ,,,DaveLee

In [39]:
def quot_and_rem(x,y):
    quot = x//y
    rem = x%y
    return (quot, rem)

(quot, rem) = quot_and_rem(10,3)
print("quot : %s, rem : %s" %(quot, rem))

quot : 3, rem : 1

## 리스트 <-> 튜플

In [40]:
list((1,2))
tuple([1,2])

(1, 2)

## 딕셔너리

In [44]:
dict1 = {}
print(dict1)
dict2 = {'korean' : 95, 'math' : 100, 'science' : [80,70,60,50]}
print(dict2)
dict2['english'] = "pass"
print(dict2)

{}
{'korean': 95, 'math': 100, 'science': [80, 70, 60, 50]}
{'korean': 95, 'math': 100, 'science': [80, 70, 60, 50], 'english': 'pass'}

In [45]:
del dict2['math']
print(dict2)

{'korean': 95, 'science': [80, 70, 60, 50], 'english': 'pass'}

In [46]:
print(dict2['korean'])

95

In [47]:
print(dict2.keys())

dict_keys(['korean', 'science', 'english'])

In [48]:
print(dict2.values())

dict_values([95, [80, 70, 60, 50], 'pass'])

In [49]:
print(dict2.items())

dict_items([('korean', 95), ('science', [80, 70, 60, 50]), ('english', 'pass')])

## 데이터 구조 (집합 또는 set)

In [58]:
ppap = {'pen', 'pineapple', 'apple', 'pen'}
print(ppap)

print('apple' in ppap)
print('banana' in ppap)

pineapple = set('pineapple') # pineapple의 각 문자를 다 나눠서 set형으로 바꾼다
pineapple

{'pineapple', 'apple', 'pen'}
True
False

{'a', 'e', 'i', 'l', 'n', 'p'}

### set 계산
A ∪ B	== `A | B` <br>
A ∩ B	== `A & B` <br>
A - B	== `A - B` <br>
A &#916; B 	== `A ^ B`

In [59]:
a = {1,2,3}
b = {4,5,6}

In [60]:
a | b

{1, 2, 3, 4, 5, 6}

In [61]:
a & b

set()

In [62]:
a - b

{1, 2, 3}

In [63]:
a ^ b

{1, 2, 3, 4, 5, 6}

In [64]:
!pip install flask

Requirement already satisfied: flask in c:\anaconda3\lib\site-packages (1.1.1)
Requirement already satisfied: Werkzeug>=0.15 in c:\anaconda3\lib\site-packages (from flask) (1.0.0)
Requirement already satisfied: click>=5.1 in c:\anaconda3\lib\site-packages (from flask) (7.0)
Requirement already satisfied: itsdangerous>=0.24 in c:\anaconda3\lib\site-packages (from flask) (1.1.0)
Requirement already satisfied: Jinja2>=2.10.1 in c:\anaconda3\lib\site-packages (from flask) (2.11.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\anaconda3\lib\site-packages (from Jinja2>=2.10.1->flask) (1.1.1)

In [1]:
from flask import Flask # import 뒤의 Flask는 클래스.

app = Flask(__name__)
@app.route("/hello")
def hello():
    return "Hello Flask!"

if __name__ == "__main__":
    app.run(host="127.0.0.1", port="8080")

### 데코레이터의 이해

### 중첩 함수(Nested Function)

In [7]:
def outer_func():
    print("외부함수 실행")
    
    def inner_func():
        return '내부함수 실행' # return으로하고 외부 함수에 inner_func()를 출력하도록 하네.
#         print("내부함수 실행")

    print(inner_func())

In [8]:
outer_func()

외부함수 실행
내부함수 실행

### 중첩함수의 내부 함수를 함수 밖에서도 출력할 수 있게 도와주는 First-class function과 closure

In [13]:
def outer_func(num):
    print("외부함수 실행")
    
    def inner_func():
        print(num)
        return '내부함수 리턴값'
    
    return inner_func

In [14]:
fn = outer_func(10) # First-class function
print(fn()) # closure 호출

외부함수 실행
10
내부함수 리턴값

### First-class function - 다른 변수에 함수 할당 가능

In [16]:
def calc_square(digit):
    return digit * digit
calc_square(2)

4

In [19]:
func1 = calc_square
func1(4)

16

### First_class function - 함수를 다른 함수의 인자로 삽입 가능

In [26]:
def clac_quad(digit):
    return digit*digit*digit*digit

def list_square(func, digit_list):
    result = list()
    for digit in digit_list:
        result.append(func(digit)) #digit_list의 리스트 원소를 인자로 받은 함수에 하나하나씩 넣어서 결과 만듬
    print(result)

list_1to5 = [1,2,3,4,5]

In [27]:
list_square(clac_quad, list_1to5)

[1, 16, 81, 256, 625]

In [28]:
def logger(msg):
    message = msg
    def msg_creator():
        print('[High Level] : %s' %msg)
    return msg_creator

In [29]:
log1 = logger('LKJ login')

In [30]:
log1

In [31]:
log1()

[High Level] : LKJ login

함수를 대입한 변수에 ()를 넣어야 비로소 함수의 기능을 하는 것이 신기하다.

### First-class function - 활용

함수 리턴할 때는 () 쓰지 않고 하는 듯.

In [43]:
# html 태그 자동 생성
def html_creator(tag):
    def msg_creator(msg):
        print("<{0}>{1}</{0}>" . format(tag, msg))
    return msg_creator

In [44]:
h1_html_creator = html_creator('h1')

In [45]:
h1_html_creator

In [46]:
h1_html_creator('h1태그 자동 생성띠')

<h1>h1태그 자동 생성띠</h1>

In [47]:
div_html_creator = html_creator("div")

In [48]:
div_html_creator

In [49]:
div_html_creator("div 태그 자동 생성띠띠")

<div>div 태그 자동 생성띠띠</div>

In [64]:
# 목차 기호 입력하고, 들어갈 문자열을 리스트로 넣기
def index_creator(sign):
    def msg_creator(content_list):
        for content in content_list :
            print("{0} {1}" . format(sign, content))
    return msg_creator

In [65]:
list_data = ["서론", "개요", "실험과정", "결론"]

In [66]:
star_index_creator = index_creator('*')
star_index_creator

In [67]:
star_index_creator(list_data)

* 서론
* 개요
* 실험과정
* 결론

In [7]:
def html_creator(tag):
    def text_wrapper(msg):
        print("<{0}>{1}</{0}>" . format(msg, tag))
    return text_wrapper

In [8]:
h1_html_creator = html_creator('h1')
print(h1_html_creator)

<function html_creator.<locals>.text_wrapper at 0x000002B228531318>

In [9]:
h1_html_creator("임수민 바보쉑")

<임수민 바보쉑>h1</임수민 바보쉑>

# 3. flask와 Rest API 실습

In [1]:
class ClassTest:
    pass
class ClassCol:
    pass
square = ClassTest()

In [2]:
dir(square)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [3]:
type(square)

__main__.ClassTest

In [4]:
class Quadrandle:
    def __init__(self, width, height, color):
        self.width = width
        self.height = height
        self.color = color

In [5]:
dir(Quadrandle)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [8]:
square1 = Quadrandle(12, 12, 'red')
square2 = Quadrandle(14, 15, 'blue')

In [9]:
dir(square1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'color',
 'height',
 'width']

In [40]:
class Quadrandle :
    def __init__(self, width, height, color) :
        self.width = width
        self.height = height
        self.color = color
        
    def get_area(self) :
        return self.width * self.height
    
    def set_area(self, data1, data2) :
        self.width = data1
        self.height = data2

In [41]:
quad_practice_rect = Quadrandle(10, 5, 'red')
quad_practice_square = Quadrandle(7, 7, 'blue')

In [34]:
print(quad_practice_rect.width, quad_practice_rect.height, quad_practice_rect.color)

10 5 red

In [35]:
print(quad_practice_square.width, quad_practice_square.height, quad_practice_square.color)

7 7 blue

In [42]:
quad_practice_rect.set_area(5, 5)

In [43]:
quad_practice_rect.width, quad_practice_rect.height

(5, 5)

In [46]:
class Quadrandle :
    def __init__(self, width, height, color):
        self.width = width
        self.height = height
        self.color = color
    
    def get_area(self) :
        return self.width * self.height

In [47]:
rect1 = Quadrandle(10, 5, 'red')
rect2 = Quadrandle(20, 10, 'orange')
square1 = Quadrandle(30, 30, 'yellow')
square2 = Quadrandle(40, 40, 'green')

In [48]:
rect1.get_area(), rect2.get_area(), square1.get_area(), square2.get_area()

(50, 200, 900, 1600)

# Inheritance 연습

* 추상화는 공통적인 메서드, 속성을 기본 클래스로 작성하는 것
* 상속은 추상화된 클래스를 받고 자신의 클래스에 필요한 걸 추가 및 변경하는 것
    * 상속은 클래스에 상속할 클래스명을 인자로 넣으면 됨유

In [61]:
class Figure:
    def __init__(self, name, color) :
        self.name = name
        self.color = color

In [62]:
class Quadrandle(Figure):
    def set_area(self, width, height) :
        self.width = width
        self.height = height
    
    def get_area(self) :
        return self.width * self.height

In [65]:
class Triangle(Figure):
    def set_area(self, side):
        self.side = side
    
    def get_area(self) :
        return 3 ** 0.5 / 4 * (self.side) ** 2

In [69]:
class Circle(Figure):
    def set_area(self, radius) :
        self.radius = radius
        
    def get_area(self) :
        return self.radius * self.radius * 3.14

In [63]:
ex_quad = Quadrandle("상속 사각형", "빨간색")
ex_quad.set_area(10, 10)
ex_quad.get_area()

100

In [67]:
ex_tri = Triangle("상속 삼각형", "주황색")
ex_tri.set_area(4)
ex_tri.get_area()

6.928203230275509

In [70]:
ex_circle = Circle("상속 원", "노란색")
ex_circle.set_area(10)
ex_circle.get_area()

314.0

In [74]:
figure1 = Figure('figure1', 'black')
square1 = Figure('square1', 'red')

In [81]:
print(isinstance(figure1, Figure))
print(isinstance(square1, Figure))

True
True

In [84]:
class Person:
    def __init__(self, name) :
        self.name = name
    def introduce(self) :
        print("my name is " + self.name)

class Friend(Person):
    def introduce(self) :
        print("my friend's name is " + self.name)

In [86]:
person1 = Person("욱진")
person1.introduce()

my name is 욱진

In [87]:
friend1 = Friend("욱진")
friend1.introduce()

my friend's name is 욱진

In [88]:
class Car :
    def __init__(self, name) :
        self.name = name
    def get_info(self) :
        print("차명 : " + self.name)
    
class ElectorincCar(Car) :
    def get_info(self) :
        print("차명 : " + self.name + ", 사용 연료 : Electronic")

class GasolineCar(Car) :
    def get_info(self) :
        print("차명 : " + self.name + ", 사용 연료 : Gasoline")

In [89]:
basic_car = Car("기본차")
basic_car.get_info()

차명 : 기본차

In [90]:
elec_car = ElectorincCar("전기차")
elec_car.get_info()

차명 : 전기차, 사용 연료 : Electronic

In [91]:
gas_car = GasolineCar("가솔린차")
gas_car.get_info()

차명 : 가솔린차, 사용 연료 : Gasoline

In [92]:
class Person :
    def work(self) :
        print("Person Method")

class Student(Person) :
    def work(self) :
        print("Student Method")
    
    def parent_work(self) :
        super().work()

In [94]:
person1 = Person()
person1.work()

Person Method

In [96]:
student1 = Student()
student1.work()
student1.parent_work()

Student Method
Person Method

In [97]:
class Figure :
    count = 0 # 클래스 변수
    
    def __init__(self, width, height) :
        self.width = width
        self.height = height
        Figure.count += 1
        
    def __del__(self):
        Figure.count -= 1
        
    def calc_area(self):
        return self.width * self.height

In [98]:
figure1 = Figure(2,3)
print(Figure.count)

1

In [99]:
figure2 = Figure(4,6)
print(Figure.count)

2

In [100]:
del figure2
print(Figure.count)

1

### class method

In [101]:
class Figure :
    @classmethod
    def set_name(cls, name) :
        cls.name = name
        
class Circle(Figure) :
    pass

In [102]:
Figure.set_name("figure")
print(Figure.name, Circle.name)
Circle.set_name("circle")
print(Figure.name, Circle.name)

figure figure
figure circle

### static method

In [103]:
class Figure :
    @staticmethod
    def set_name(name) :
        Figure.name = name

class Circle(Figure) :
    pass

In [104]:
Figure.set_name("figure")
print(Figure.name, Circle.name)
Circle.set_name("circle")
print(Figure.name, Circle.name)

figure figure
circle circle

In [5]:
import pymysql

db_conn = pymysql.connect(
            host='localhost',
            port=3306,
            user='dave',
            passwd='funcoding',
            db='blog_db',
            charset='utf8')
dave_db = db_conn.cursor()
dave_db

In [6]:
sql = 'SHOW TABLES;'
dave_db.execute(sql)

0

In [7]:
sql = """
CREATE TABLE user_info (
    USER_ID INT UNSIGNED NOT NULL AUTO_INCREMENT,
    USER_EMAIL VARCHAR(100) NOT NULL,
    BLOG_ID CHAR(4),
    PRIMARY KEY(USER_ID)
);
"""
dave_db.execute(sql)
db_conn.commit() # 데이터베이스를 변경하는 명령은 commit() 해주기

In [8]:
sql = 'SHOW TABLES;'
dave_db.execute(sql)

1

In [15]:
user_email = 'test@test.com'
blog_id = 'C'

In [16]:
sql = "INSERT INTO user_info (USER_EMAIL, BLOG_ID) VALUES ('%s', '%s')" % (str(user_email), str(blog_id))
dave_db.execute(sql)
db_conn.commit()

In [17]:
sql = "SELECT * FROM user_info"
dave_db.execute(sql)
results = dave_db.fetchall()
for result in results:
    print (result, type(result))

(1, 'test@test.com', 'A') <class 'tuple'>
(2, 'test@test.com', 'B') <class 'tuple'>
(3, 'test@test.com', 'C') <class 'tuple'>

In [18]:
user_id = 1

In [21]:
sql = "DELETE FROM user_info WHERE USER_ID = %d" %(user_id)
dave_db.execute(sql)
db_conn.commit()

In [22]:
sql = "SELECT * FROM user_info"
dave_db.execute(sql)
results = dave_db.fetchall()
for result in results:
    print (result, type(result))

(2, 'test@test.com', 'B') <class 'tuple'>
(3, 'test@test.com', 'C') <class 'tuple'>

In [23]:
db_conn.close()

In [ ]:
import pymongo

username = ''
password = ''
ip_address = 'localhost'
connection = pymongo.MongoClient()
connection = pymongo.MongoClient('mongodb://%s' % (ip_address))
blog_session_db = connection.blog_session_db
blog_ab = blog_session_db.blog_ab

In [1]:
app.serect_key = os.urandom(24)

NameError: name 'os' is not defined

In [2]:
login_manager = LoginManager()
login_manager.init_app(app)
login_manager.session_protection = "strong"

NameError: name 'LoginManager' is not defined

In [ ]:
from flask_login import login_user

user = User.create(user_email, blog_id)
login_user(user)

In [ ]:
@login_manager.user_loader
def load_user(user_id):
    return User.get(user_id)

In [ ]:
@login_manager.unauthorized_handler
def unauthorized():
    return make_response(jsonify(success=False), 401)